.main-page-projects {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  margin: 100px auto 50px;
  padding: 0 80px;
  gap: 80px; 
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .main-page-projects {
    gap: 60px;
  }
}

@media (max-width: 480px) {
  .main-page-projects {
    padding: 0 16px;
  }
}
