.main-projects {
  margin-bottom: 106px;
}

.title-projects {
  width: 100%;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.title-projects-label {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 16px;
}

.title-hastag {
  width: 20px;
  height: 42px;
}

.link-projects {
  white-space: nowrap;
  width: auto;
  line-height: 21px;
  color: #ffffff;
}

.link-projects:hover {
  color: #ffffffc2;
}

.bar-projects {
  width: 100%;
  max-width: 511px;
  height: 1px;
  background: #c778dd;
}

.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
