.title-projects {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.title-projects-label{
  display: flex;
  gap: 16px;
}

.group-title {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
}

.title-hastag {
  width: 20px;
  height: 42px;
}

.link-projects{
  color:#ffffff ;
}