.main-projects {
  margin-bottom: 106px;
}

.title-projects {
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.title-projects-label {
  display: flex;
  gap: 16px;
}

.title-hastag {
  width: 20px;
  height: 42px;
}

.link-projects {
  color: #ffffff;
}

.Cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}
