.main-skills {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 112px;
  gap: 32px;
  width: 100%;
}

.titles-skills {
  display: flex;
  align-items: center;
  gap: 16px;
}

.bar-skills {
  width: 100%;
  max-width: 229px;
  height: 1px;
  background: #c778dd;
}

.content-skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.box-pictures {
  position: relative;
  width: 350px;
  height: 300px;
  flex-shrink: 0;
}

.Dots1 {
  width: 63px;
  height: 63px;
  left: 36px;
  top: 47px;
  position: absolute;
}

.Dots2 {
  width: 63px;
  height: 63px;
  left: 205px;
  top: 158px;
  position: absolute;
}

.Rectangle1 {
  width: 86px;
  height: 86px;
  left: 256px;
  top: 12px;
  position: absolute;
}

.Rectangle2 {
  width: 52px;
  height: 52px;
  left: 326px;
  top: 209px;
  position: absolute;
}

.Logo2 {
  width: 113px;
  height: 113px;
  left: 54px;
  top: 184px;
  position: absolute;
}

.skills-tools {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 1024px) {
  .content-skills {
    flex-direction: column-reverse;
    align-items: center;
  }

  .skills-tools {
    justify-content: center;
    width: 100% !important;
  }
  .box-pictures {
    display: none !important;
  }
}

@media (max-width: 480px) {
  .main-skills {
    margin-bottom: 60px;
  }
}
