.main-skills {
  position: relative;
  margin-bottom: 112px;
}

.titles-skills {
  display: flex;
  align-items: center;
  gap: 16px;
}

.bar-skills {
  width: 100%;
  max-width: 229px;
  height: 1px;
  background: #c778dd;
  flex-grow: 1;
}

.box-pictures {
  position: relative;
  width: 50%;
}

.Dots1 {
  gap: 16px;
  width: 63px;
  height: 63px;
  left: 36px;
  top: 47px;
  position: absolute;
}

.Dots2 {
  gap: 16px;
  width: 63px;
  height: 63px;
  left: 205px;
  top: 158px;
  position: absolute;
}

.Rectangle1 {
  width: 86px;
  height: 86px;
  left: 256px;
  top: 12px;
  position: absolute;
}

.Rectangle2 {
  width: 52px;
  height: 52px;
  left: 326px;
  top: 209px;
  position: absolute;
}

.Logo2 {
  width: 113px;
  height: 113px;
  left: 54px;
  top: 184px;
  position: absolute;
}

.content-skills {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.skills-tools {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  flex-wrap: wrap-reverse;
  width: 50%;
}
