.title-small-projects {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.list-small-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .list-small-projects {
    justify-content: center;
  }
}
