.contacts-main {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1024px; 
  margin: 100px auto 50px;
  padding: 0 24px;
  box-sizing: border-box;
}
