.content {
  display: flex;
  justify-content: center;
}

.main-home {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0px 246px;
  /* background-color: #2c3036; */
}

@media (max-width: 510px) {
  .main-home {
    margin: 0 70px;
  }
}
