.main-header {
  width: 100%;
  height: auto;
  padding: 35px 0 12px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  align-items: center;
}

.link-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
}

.union {
  height: 16px;
  width: 16px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.label-header {
  width: auto;
}

.label-header:hover {
  color: #ffffff;
}

.label-header:visited {
  color: #ffffff;
  font-style: oblique;
  font-weight: 500;
}

.label-color {
  color: #c778dd;
}

.select {
  width: auto;
  background-color: #282c33;
  border: none;
}

.select:hover {
  color: #ffffff;
}
