.main-aboutme {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.title-aboutme {
  display: flex;
  align-items: self-start;
  gap: 8px;
  flex-direction: column;
}

.title-aboutme > p {
  color: #fff;
}

.bar-aboutme {
  width: 100%;
  max-width: 326px;
  height: 1px;
  background: #c778dd;
  flex-grow: 1;
}

.content-aboutme {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.text-aboutme {
  width: 100%;
  max-width: 515px;
  line-height: 26px;
}

.button-aboutme {
  width: 148px;
  height: 37px;
  border: 1px solid #c778dd;
  padding: 8px 16px;
  gap: 10px;
}

.picture-aboutme {
  width: 100%;
  height: 100%;
  max-width: 343px;
  min-height: 508px;
  position: relative;
}

.person {
  position: absolute;
  left: 5px;
  top: -57px;
  width: auto;
  height: auto;
}

.dots-aboutme {
  position: absolute;
  width: 84px;
  left: 1px;
  top: auto;
}

.dots2-aboutme {
  position: absolute;
  width: 104px;
  left: 222px;
  top: 239px;
}
