.media-link{
  width: auto;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.media-icons {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.line {
  width: 1px;
  height: 191px;
  background: #abb2bf;
}
