.main-footer {
  width: auto;
  height: 208px;
  margin: 0px 246px;
  border-top: 2px solid #abb2bf;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.union {
  max-width: 16px;
}

.infor-content-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  word-break: break-all;
}

.label-logo{
  font-weight: 400;
  color: #ffffff;
}

.logo-footer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.media-footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  word-break: break-word;
}

.label-media {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  color: #ffffff;
}

.icons-media {
  display: flex;
  gap: 8px;
}
