.main-home {
  position: relative;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  margin: 100px auto 0;
  padding: 0 24px;
  gap: 64px;
  box-sizing: border-box;
}

@media (max-width: 1024px) {
  .main-home {
    padding: 0px 120px;
  }
}

@media (max-width: 768px) {
  .main-home {
    margin-top: 80px;
    gap: 40px;
  }
}

@media (max-width: 480px) {
  .main-home {
    margin-top: 60px;
    padding: 0 16px;
  }
}
