.main-header {
  width: 100%;
  height: 86px;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #282c33;
  z-index: 999;
  box-sizing: border-box;
}

.logo {
  height: auto;
  font-weight: 700;
  display: flex;
  align-items: center;
}

.link-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.union {
  height: 16px;
  width: 16px;
}

.navbar {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  align-items: center;
}

.hamburguer {
  display: none;
  cursor: pointer;
}

.label-header {
  font-size: 16px;
  color: #abb2bf;
  text-decoration: none;
  font-weight: 500;
}

.label-header:hover {
  color: #fff;
}

.label-color {
  color: #c778dd;
}

.select {
  background-color: transparent;
  border: none;
  color: #abb2bf;
  font-weight: 700;
  cursor: pointer;
}

.select:hover {
  color: #ffffff;
}

@media (min-width: 1024px) {
  .main-header {
    padding: 0 18%;
    max-width: 100%;
  }
}

@media (max-width: 1024px) {
  .main-header {
    padding: 0 8%;
    max-width: 100%;
  }
}

@media (max-width: 940px) {
  .navbar {
    display: none;
  }

  .main-header {
    padding: 0 16px;
    max-width: 100%;
  }

  .hamburguer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    position: relative;
    z-index: 1000;
  }

  .line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #d9d9d9;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }

  .navbar-modal {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-size: 32px;
    margin-top: 40px;
  }

  .navbar-modal .label-header {
    font-size: 32px;
  }

  .navbar-modal .select {
    font-size: 32px;
  }

  .DialogOverlay {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    inset: 0;
    z-index: 9998;
    animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }

  .DialogContent {
    width: 100%;
    height: 100%;
    background-color: #282c33;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 24px;
    z-index: 9999;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    display: flex;
    flex-direction: column;
  }

  .IconButton {
    font-family: inherit;
    border-radius: 100%;
    height: 35px;
    width: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: absolute;
    top: 24px;
    right: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .IconButton svg {
    width: 24px;
    height: 24px;
  }
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: scale(0.96);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
