.about-me-main {
  position: relative;
  height: auto;
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 1024px;
  margin: 100px auto 50px;
  padding: 0 24px;

  gap: 80px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .about-me-main {
    gap: 60px;
  }
}

@media (max-width: 480px) {
  .about-me-main {
    padding: 0 16px;
    gap: 40px;
  }
}
