.main-contacts {
  display: flex;
  flex-direction: column;
  max-height: 228px;
  height: 228px;
}

.title-contacts {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.bar-contacts {
  width: 127px;
  height: 1px;
  background: #c778dd;
}

.content-contacts {
  display: flex;
  height: 100%;
  padding-top: 24px;
  align-items: self-start;
  flex-direction: row;
  justify-content: space-between;
}

.text-contacts {
  width: 100%;
  max-width: 505px;
  line-height: 21px;
}

.box-title {
  color: #ffffff;
  font-weight: 600;
}

.box-contacts {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;
  border: 1px solid #abb2bf;
}

.box-rede {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0px;
  gap: 8px;
}

.box-label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.instagram {
  padding: 4px;
}

.outher-media {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.list-outher-media {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.box-suport {
  display: flex;
  align-items: center;
  gap: 5px;
}