.main-presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 100px; */
}

.content-presentation {
  position: relative;
  gap: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
}

h2 {
  color: #ffffff;
  font-size: 32px;
}

span {
  color: #c778dd;
  font-size: 32px;
}

button {
  width: 148px;
  height: 37px;
  background-color: #2c3036;
  border: solid #c778dd 1px;
  font-weight: 500;
  color: #ffffff;
}
button:hover,
button:focus {
  background-color: #c778dd;
}

.ilustration {
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Logo {
  position: absolute;
  max-width: 155px;
  width: auto;
  left: -9px;
  top: 77px;
}

.Image {
  width: 457px;
  height: auto;
  position: relative;
}

.Dots {
  position: absolute;
  max-width: 84px;
  width: 100%;
  left: 403px;
  top: 238px;
}

.status {
  width: 85%;
  display: flex;
  align-items: center;
  border: 1px solid #abb2bf;
  padding: 8px;
}

.rectangle {
  width: 16px;
  height: 16px;
  background: #c778dd;
  border: 1px solid #c778dd;
  display: inline-block;
  margin-right: 10px;

  animation: pulse-online 2s infinite ease-in-out;
}

@keyframes pulse-online {
  0% {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(199, 120, 221, 0.7);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.95);
    box-shadow: 0 0 8px 2px rgba(199, 120, 221, 0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(199, 120, 221, 0);
  }
}

.box-quote {
  max-width: 712px;
  height: auto;
  margin: 112px 156px 137px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}

.quote {
  border: 1px solid #abb2bf;
  padding: 32px;
}

.author {
  width: auto;
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  border: 1px solid #abb2bf;
  border-top: 0;
}

.Aspas1 {
  width: auto;
  position: absolute;
  left: 11px;
  top: -14px;
}

.Aspas2 {
  width: auto;
  position: absolute;
  right: 16.53px;
  top: 112px;
}

@media (max-width: 871px) {
  .text-box {
    width: 80%;
  }

  .Image {
    width: 100%;
  }

  h2,
  span {
    font-size: 24px;
  }
}

@media (max-width: 630px) {
  .content-presentation {
    flex-direction: column;
    width: 100%;
  }

  .ilustration {
    width: 100%;
  }

  .Image {
    width: -webkit-fill-available;
  }

  .text-box {
    width: 100%;
  }

  h2,
  span {
    font-size: 32px;
  }

  label {
    font-size: 16px;
  }

  .button-pre {
    display: none;
  }
}
