.media-link{
  width: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  z-index: 1000;
  top: 0;
}

.media-icons {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.icons:hover{
  color: #ffffff;
}

.line-media {
  width: 1px;
  height: 191px;
  background: #abb2bf;
}

@media (max-width: 940px) {
  .media-link{
    display: none;
  }
}